* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  overflow: auto;
  background: #1d1e2c;
  background: #666cc5;
  min-height: 100vh;
}

.Wrapper {
  width: 100%;
  min-height: 100%;
}

.main__page__aside {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: #b24c63;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aside {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: #1d7874;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -10;
}

.containerRonaldo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 5.5%;
  -webkit-transform: translate(-5.5%, -50%);
          transform: translate(-5.5%, -50%);
  z-index: 100;
}

.ronaldo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 10px;
  height: 450px;
  width: 450px;
}

.ronaldo img {
  max-width: 100%;
  max-height: 113%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 100;
}

.container2 {
  position: absolute;
  padding: 16px;
  top: 30%;
  left: 65%;
  -webkit-transform: translate(-65%, -30%);
          transform: translate(-65%, -30%);
  width: 50%;
  background-color: #fafafa;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  -webkit-box-shadow: white 0px 5px 5px;
          box-shadow: white 0px 5px 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.container2::-webkit-scrollbar {
  width: 1em;
}

.title-box {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.5em;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.title-box #goals {
  font-size: 1.8em;
}

.title-box::-webkit-scrollbar {
  width: 1em;
}

.team {
  width: 100px;
}

.team img {
  height: 54px;
  width: 54px;
}

.icon {
  margin-bottom: 6px;
  margin-right: 8px;
  vertical-align: middle;
  font-size: 24px;
  cursor: pointer;
}

.liHover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.liHover:hover {
  font-size: 25.5px;
  margin-left: 8px;
}

.spanHover {
  visibility: hidden;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.liHover:hover .spanHover {
  visibility: visible;
  margin-left: 7px;
  -webkit-transition-property: none;
  transition-property: none;
}
/*# sourceMappingURL=style.css.map */