* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.Wrapper {
  width: 100%;
  min-height: 100%;
}

.main__page__aside {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: #b24c63;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bgc {
  position: fixed;
  width: 80%;
  height: 100%;
  left: 20%;
  top: 0;
  overflow: auto;
  background: #1d1e2c;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.containerRonaldo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 70%;
  left: 7%;
  -webkit-transform: translate(-7%, -70%);
          transform: translate(-7%, -70%);
  font-size: Quantico;
  padding-top: 200px;
}

.ronaldo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 10px;
  height: 500px;
  width: 400px;
  background: linear-gradient(132.02deg, #1d7859 15%, #1d1e2c 86.7%);
}

.ronaldo img {
  max-width: 100%;
  max-height: 133%;
  padding: 0 60px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container2::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.container2::-webkit-scrollbar {
  width: 12px;
}

.container2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1d4c43;
}

.container2 {
  margin: 0 0;
  padding: 10px;
  position: absolute;
  left: 65%;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
  height: 900px;
  width: 50%;
  background-color: #fafafa;
  border-radius: 10px;
  text-transform: uppercase;
  overflow-y: scroll;
}

.nameTeam {
  font-size: 25px;
  padding-left: 5px;
  font-weight: 600;
}

.scoreBoard {
  text-align: center;
  text-shadow: -2px 0px 0px rgba(0, 0, 0, 0.77);
  padding: 20px 0 0 0;
}

.title-box {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.5 rem;
}

.score {
  font-size: 30px;
  font-weight: bold;
}

.team {
  width: 250px;
  margin-top: 30px;
  margin-left: 100px;
}

.team img {
  height: 130px;
  width: 130px;
}

.match-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.match-tile .team {
  width: 100px;
}

.icon {
  margin-bottom: 6px;
  margin-right: 8px;
  vertical-align: middle;
  font-size: 24px;
  cursor: none;
}

.liHover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.liHover:hover {
  font-size: 25.5px;
  margin-left: 7px;
}

.spanHover {
  visibility: hidden;
  vertical-align: middle;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.liHover:hover .spanHover {
  visibility: visible;
  margin-left: 6px;
  -webkit-transition-property: none;
  transition-property: none;
}

.haha2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerFootballersBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
}

.footballers {
  cursor: none;
  border-radius: 20px;
  height: 10em;
  margin-bottom: 80px;
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
      align-self: auto;
}

.flip-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  width: 370px;
  height: 370px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.flip-box:hover .flip-box-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.flip-box-front {
  color: black;
  cursor: pointer;
}

.flip-box-back {
  width: 350px;
  height: 470px;
  color: white;
  -webkit-box-shadow: 0px 0px 13px 0px #7085c6;
  box-shadow: 0px 0px 13px 0px #7085c6;
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.FootballersName {
  padding: 15px;
}

.footballersInfo {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 19px;
  padding: 8px;
}

.footballersInfoDetail {
  display: inline;
  margin: 5px;
}

.boldTextInfo {
  font-size: 21px;
  font-weight: bold;
}

.modalPhoto {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 0px #7085c6;
  box-shadow: 0px 0px 13px 0px #7085c6;
}

.popup-content {
  width: 15em;
  border: none;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
          animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  border-radius: 10px;
  cursor: pointer;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.76);
}

.containerForm {
  text-align: center;
}

.searchFootballersText {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
}

.formFootballers {
  display: inline-block;
  margin: 40px 2px 140px 20px;
}

.inputFootballers {
  margin: 0px 40px;
  padding: 5px 0;
  text-align: center;
  width: 450px;
  font-size: 25px;
  border-radius: 20px;
  outline: 0;
  border: none;
  cursor: none;
  background-color: white;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inputFootballers:focus {
  outline: 0;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}

.buttonFootballers {
  width: 80px;
  padding: 5px 5px;
  font-size: 25px;
  border-radius: 20px;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: 0;
  background-color: white;
  outline: none;
  border: 0;
  cursor: none;
}

.buttonFootballers:hover {
  background-color: black;
  color: white;
  cursor: none;
}

.FootballersIcon {
  color: white;
  font-size: 50px;
  vertical-align: middle;
  padding-left: 20px;
}

@-webkit-keyframes anvil {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    -webkit-transform: scale(0.96) translateY(10px);
            transform: scale(0.96) translateY(10px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
    -webkit-box-shadow: 0 0 500px rgba(241, 241, 241, 0);
            box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@keyframes anvil {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    -webkit-transform: scale(0.96) translateY(10px);
            transform: scale(0.96) translateY(10px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
    -webkit-box-shadow: 0 0 500px rgba(241, 241, 241, 0);
            box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.ContainerTeamsBig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
  width: 80%;
}

.teams {
  cursor: none;
  border-radius: 10px;
  width: 10em;
  margin: 15px 25px 65px 25px;
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
          order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
      align-self: auto;
}

.flip-box-teams {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 370px;
  height: 370px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  cursor: pointer;
}

.flip-box-inner-teams {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.flip-box-teams:hover .flip-box-inner-teams {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-box-front-teams,
.flip-box-back-teams {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.flip-box-front-teams {
  color: black;
  cursor: pointer;
}

.flip-box-back-teams {
  background-color: #bbb;
  color: white;
  -webkit-box-shadow: 0px 0px 13px 0px #7085c6;
  box-shadow: 0px 0px 13px 0px #7085c6;
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: pointer;
}

.TeamsName {
  padding: 10px;
}

.teamsInfo {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  padding: 8px;
}

.modalPhoto-teams {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 350px;
  cursor: pointer;
  border-radius: 10px;
}

.popup-content {
  width: 35em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
          animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  border-radius: 10px;
}

.containerFormTeams {
  text-align: center;
}

.searchTeamsText {
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
}

.teamsFootballers {
  display: inline-block;
  margin: 40px 2px 140px 20px;
}

.inputTeams {
  margin: 0px 40px;
  padding: 5px 0;
  text-align: center;
  width: 450px;
  font-size: 25px;
  border-radius: 20px;
  outline: 0;
  border: none;
  cursor: none;
  background-color: white;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inputTeams:focus {
  outline: 0;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}

.buttonTeams {
  width: 80px;
  padding: 5px 5px;
  font-size: 25px;
  border-radius: 20px;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: 0;
  background-color: white;
  outline: none;
  border: 0;
  cursor: none;
}

.buttonTeams:hover {
  background-color: black;
  color: white;
  cursor: none;
}

.TeamsSearch {
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: black;
}

.buttonTeams:hover .TeamsSearch {
  visibility: visible;
  color: white;
}

.TeamsIcon {
  color: white;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 20px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.76);
}

@keyframes anvil {
  0% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    -webkit-transform: scale(0.96) translateY(10px);
            transform: scale(0.96) translateY(10px);
    opacity: 0;
    -webkit-box-shadow: 0 0 0 rgba(241, 241, 241, 0);
            box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    -webkit-transform: scale(1) translateY(0px);
            transform: scale(1) translateY(0px);
    opacity: 1;
    -webkit-box-shadow: 0 0 500px rgba(241, 241, 241, 0);
            box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.main__page__aside__live__score {
  position: fixed;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background: #1d7859;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.notfound {
  padding: 50px;
  text-align: center;
  text-shadow: 1px 1px lightgray;
}
/*# sourceMappingURL=style.css.map */