.stylesContainer2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(-9%, -50%);
  font-size: Quantico;
}

.ronaldo {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  height: 500px;
  width: 400px;

  background: linear-gradient(132.02deg, #1d7859 15%, #1d1e2c 86.7%);
}

.ronaldo img {
  max-width: 100%;
  max-height: 133%;
  padding: 0 60px 10px 0;
  user-select: none;
}

@media (max-width: 480px) {
  .stylesContainer2 {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .stylesContainer2 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .stylesContainer2 {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .stylesContainer2 {
    top: 50%;
    left: 11%;
    transform: translate(-11%, -50%);
  }

  .ronaldo {
    height: 310px;
    width: 210px;
  }

  .ronaldo img {
    max-width: 127%;
    max-height: 113%;
    padding: 0 30px 2px 30px;
    user-select: none;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .stylesContainer2 {
    top: 50%;
    left: 11%;
    transform: translate(-11%, -50%);
  }

  .ronaldo {
    height: 310px;
    width: 210px;
  }

  .ronaldo img {
    max-width: 127%;
    max-height: 113%;
    padding: 0 30px 2px 30px;
    user-select: none;
  }
}
