* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow-x: hidden;
  // overflow-y: hidden;
}

body {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  // overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1d4c43;
}

// .Wrapper {
//   width: 100%;
//   min-height: 100%;
// }
