* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // cursor: none;
}

body {
  height: 100vh;
  // cursor: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.Wrapper {
  width: 100%;
  min-height: 100%;
}
