.ContainerTeamsBig {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin: 80px auto;
  // width: 80%;
  width: calc(100% - 444px);
  gap: 40px;
}
.containerTeams {
  width: 10em;
}

.teamsName {
  color: #fff;
  font-size: 16px;
  padding: 0 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  // word-wrap: break-word;
}
.teams {
  cursor: none;
  border-radius: 10px;
  width: 10em;
  // margin: 15px 25px 65px 25px;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flip-box-teams {
  background-image: url(../../img/TeamsCardBackground.webp);
  filter: brightness(90%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 470px;
  perspective: 1000px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(112, 133, 198, 1);
  -moz-box-shadow: 0px 0px 13px 0px rgba(112, 133, 198, 1);
  box-shadow: 0px 0px 13px 0px rgba(112, 133, 198, 1);
}

.closeDivModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 397px;
  height: 508px;
  border-radius: 20px;
}

.closeModal {
  cursor: pointer;
  border-radius: 50%;
  font-size: 33px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.1s;
}
.closeModal:hover {
  font-size: 34px;
}

.flip-box-inner-teams {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-box-teams:hover .flip-box-inner-teams {
  transform: rotateY(180deg);
}

.flip-box-front-teams,
.flip-box-back-teams {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
}

.flip-box-front-teams {
  color: black;
  cursor: pointer;
}

.flip-box-back-teams {
  background-color: transparent;
  // background-color: #bbb;
  color: white;
  width: 350px;
  height: 470px;
  box-shadow: 0px 0px 13px 0px rgba(112, 133, 198, 1);
  border-radius: 20px;
  transform: rotateY(180deg);
  cursor: pointer;
}

.TeamsName {
  padding: 15px;
  text-align: center;
}

.teamsInfo {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 19px;
  padding: 0 0 8px 12px;
  word-wrap: break-word;
}
.TeamsBoldTextInfo {
  font-size: 22px;
  font-weight: bold;
  margin-right: 5px;
}

.modalPhoto-teams {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
}

.popup-content {
  width: 35em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  border-radius: 10px;
}

.containerFormTeams {
  text-align: center;
  padding-top: 50px;
}

.searchTeamsText {
  // margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  letter-spacing: 2px;
}

.teamsFootballers {
  display: inline-block;
  margin: 0 auto;
  padding-top: 35px;
}

.inputTeams {
  margin: 0px 40px;
  padding: 5px 0;
  text-align: center;
  width: 450px;
  font-size: 25px;
  border-radius: 20px;
  outline: 0;
  border: none;
  cursor: none;
  background-color: white;
  letter-spacing: 2px;
  transition: 0.3s;
}

.inputTeams:focus {
  outline: 0;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}

.buttonTeams {
  width: 80px;
  padding: 5px 5px;
  font-size: 25px;
  border-radius: 20px;
  color: black;
  transition: 0.5s;
  background: 0;
  background-color: white;
  outline: none;
  border: 0;
  cursor: none;
}

.buttonTeams:hover {
  background-color: black;
  color: white;
  cursor: none;
}

.TeamsSearch {
  vertical-align: middle;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  transition: 0.3s;
  color: black;
}

.buttonTeams:hover .TeamsSearch {
  visibility: visible;
  color: white;
}

.TeamsIcon {
  color: white;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding-left: 20px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.76);
}

.NotFoundTeams {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 120px;
  text-align: center;
  letter-spacing: 0.2em;
  // animation: typing 2s steps(55);
  // z-index: 999;
}

.check {
  vertical-align: middle;
  font-size: 40px;
  padding-left: 5px;
  padding-bottom: 5px;
}

// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 80%;
//   }
// }

// @keyframes typingMobile {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }

// @keyframes anvil {
//   0% {
//     transform: scale(1) translateY(0px);
//     opacity: 0;
//     box-shadow: 0 0 0 rgba(241, 241, 241, 0);
//   }
//   1% {
//     transform: scale(0.96) translateY(10px);
//     opacity: 0;
//     box-shadow: 0 0 0 rgba(241, 241, 241, 0);
//   }
//   100% {
//     transform: scale(1) translateY(0px);
//     opacity: 1;
//     box-shadow: 0 0 500px rgba(241, 241, 241, 0);
//   }
// }

@media (max-width: 480px) {
  .containerFormTeams {
    text-align: center;
    padding-top: 70px;
  }

  .searchTeamsText {
    font-size: 25px;
  }

  .teamsFootballers {
    padding-top: 35px;
  }

  .inputTeams {
    margin: 0px 5px;
    padding: 1px 0;
    width: 240px;
    font-size: 22px;
  }

  .buttonTeams {
    width: 45px;
    padding: 1px 0px;
    font-size: 22px;
  }

  .TeamsSearch {
    font-size: 25px;
    line-height: 22px;
  }

  .TeamsIcon {
    font-size: 25px;
    line-height: 25px;
  }
  .flip-box-teams {
    width: 250px;
    height: 370px;
  }
  .modalPhoto-teams {
    width: 180px;
  }
  .flip-box-back-teams {
    width: 250px;
    height: 370px;
  }
  .teams {
    width: 8em;
  }

  .teamsName {
    color: #fff;
    font-size: 14px;
    padding: 0 25px 20px 0;
  }

  .TeamsName {
    padding: 10px;
    font-size: 22px;
  }

  .teamsInfo {
    color: white;
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 8px 12px;
    word-wrap: break-word;
  }
  .TeamsBoldTextInfo {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  .closeModal {
    top: 10%;
    right: 12%;
  }

  .ContainerTeamsBig {
    width: 80%;
  }

  .NotFoundTeams {
    font-size: 14px;
    white-space: normal;
    letter-spacing: 0em;
  }
  .check {
    font-size: 19px;
    padding-bottom: 2px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
}
