.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 16%;
  transform: translate(-16%, -50%);
  font-family: "Roboto Slab", serif;
}

.card {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  height: 28em;
  width: 28em;
  background: linear-gradient(
    132.02deg,
    rgba(178, 76, 99, 0.989229) 15%,
    #1d1e2c 86.7%
  );
}
.card img {
  max-width: 100%;
  max-height: 113%;
  padding-left: 3em;
  user-select: none;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  width: 28em;
  padding: 2.9em 0.75em;
  align-self: flex-end;
  user-select: none;
}

.text {
  font-size: 35px;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  user-select: none;
}

.lorem {
  font-size: 25px;
  padding: 10px;
  color: white;
  margin-bottom: 50px;
  user-select: none;
  font-family: "Roboto Slab", serif;
}

.liveScore {
  width: 42%;
  font-size: 22px;
  line-height: 140.62%;
  background: #1d7874;
  outline: 0;
  border: 0;
  border-radius: 10px;
  padding: 12px 0;
  margin-left: 10px;
  cursor: none;
  user-select: none;
  transition: 0.4s;
  font-family: "Roboto Slab", serif;
}
.liveScore:hover {
  margin-left: 25px;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .card img {
    padding-left: 25px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .card {
    height: 21em;
    width: 21em;
  }

  .containerDetails {
    margin-bottom: 1em;
  }
  .text {
    font-size: 31px;
    padding-bottom: 1em;
  }
  .lorem {
    font-size: 21px;
    padding: 10px;
    margin-bottom: 1.5em;
  }
  .liveScore {
    width: 40%;
    font-size: 18px;
  }
  .liveScore:hover {
    margin-left: inherit;
  }
}

@media (max-width: 1023px) {
  .card {
    height: 21em;
    width: 21em;
  }
  .card img {
    padding-left: 0px;
  }
  .containerDetails {
    width: 24em;
    margin-bottom: 0em;
  }
  .text {
    font-size: 25px;
  }
  .lorem {
    font-size: 22px;
    padding: 10px;
    margin-bottom: 1em;
  }
  .liveScore {
    font-size: 18px;
  }
  .liveScore:hover {
    margin-left: inherit;
  }
}

@media (min-width: 769px) and (max-width: 815px) {
  .card {
    width: 16em;
    height: 16em;
  }
  .card img {
    padding-left: 0em;
  }
  .containerDetails {
    flex-direction: column;
    width: 16em;
    padding: 1em 0 0 0;
    margin-bottom: 2em;
  }

  .text {
    font-size: 22px;
    padding-bottom: 1em;
  }
  .lorem {
    width: 16em;
    padding: 10px;
    margin-bottom: 0.5em;
    font-size: 14px;
  }

  .liveScore {
    margin-left: 9px;
    width: 50%;
    padding: 4px 0;
    font-size: 16px;
  }
  .liveScore:hover {
    margin-left: 0;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .card {
    width: 16em;
    height: 16em;
  }
  .card img {
    padding-left: 0em;
  }
  .containerDetails {
    flex-direction: column;
    width: 16em;
    padding: 1em 0 0 0;
    margin-bottom: 2em;
  }

  .text {
    font-size: 22px;
    padding-bottom: 1em;
  }
  .lorem {
    width: 16em;
    padding: 10px;
    margin-bottom: 0.5em;
    font-size: 14px;
  }

  .liveScore {
    margin-left: 9px;
    width: 50%;
    padding: 4px 0;
    font-size: 16px;
  }
  .liveScore:hover {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    top: 23em;
    left: 34.5%;
  }

  .card {
    width: 14em;
    height: 14em;
    border-radius: 0 10px 10px 0;
  }
  .card img {
    padding-left: 0em;
  }
  .containerDetails {
    width: 14em;
    padding: 1em 0 0 0;
    margin-bottom: 0em;
  }

  .text {
    font-size: 18px;
    padding: 0px;
    padding-bottom: 1.2em;
  }
  .lorem {
    font-size: 14px;
    padding: 1px;
    margin-bottom: 1.2em;
  }
  .liveScore {
    width: 100%;
    padding: 4px 0;
    font-size: 16px;
    margin-left: 0px;
  }
  .liveScore:hover {
    margin-left: 0;
  }
}
