.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  font-size: Quantico;
}

.card {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  height: 450px;
  width: 450px;

  background: linear-gradient(
    132.02deg,
    rgba(178, 76, 99, 0.989229) 15%,
    #1d1e2c 86.7%
  );
}
.card img {
  // margin: 0 auto;
  max-width: 100%;
  max-height: 113%;
  padding-left: 45px;
  user-select: none;
}

.containerDetails {
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 55px 10px;
  align-self: flex-end;
  user-select: none;
}

.text {
  font-size: 35px;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  user-select: none;
}

.lorem {
  font-size: 22px;
  padding: 10px;
  color: white;
  margin-bottom: 60px;
  user-select: none;
}

.liveScore {
  width: 42%;
  font-size: 22px;
  line-height: 140.62%;
  // padding: 13px 41px;
  background: #1d7874;
  outline: 0;
  border: 0;
  border-radius: 10px;
  // white-space: nowrap;
  padding: 12px 0;
  margin-left: 10px;
  // height: 55px;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  text-shadow: 10px 10px 25px #1d7874, -10px 10px 25px #1d7874,
    -10px -10px 25px #1d7874, 10px -10px 25px #1d7874;
}
.liveScore:hover {
  // padding-left: 10px;
  margin-left: 25px;
  // padding: 20px;
  // font-size: 22.2px;
}
// .spanHover2 {
//   visibility: hidden;
//   vertical-align: middle;
//   margin-top: 20px;
// }

// .liveScore:hover .spanHover2 {
//   // visibility: visible;

//   margin-left: 27px;
//   margin-top: 3 0px;
//   transition-property: none;
// }
